* {
  font-family: Cambria, Verdana, sans-serif;
}

/* Now call the keyframe-function */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.buttons, #carousel {
    position: relative;
    top: 500px;
}

#intro {
  text-align: center;
  padding: 16px;
  font-size: 30px;
}

#color_1 {
  position: absolute;
  left: 250px;
  top: 550px;
  font-size: 45px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px black, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  animation: fadeIn 5s;
}

#color_1:hover, #color_2:hover, #color_3:hover {
  cursor: pointer;
}

#color_2 {
  position: absolute;
  top: 550px;
  left: 675px;
  font-size: 45px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px black, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  animation: fadeIn 5s;
}

#color_3 {
  position: absolute;
  right: 250px;
  top: 550px;
  font-size: 45px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px black, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  animation: fadeIn 5s;
}

.hidden {
  display: none;
}

#red {
  width: 200px;
  height: 50px;
  position: relative;
  left: 175px;
  top: 150px;
  font-size: 30px;
  border-radius: 30%;
  border: thin solid darkred;
  background-color: whitesmoke;
  color: red;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-left: 10px;
  font-family: monospace;
}

#blue {
  width: 200px;
  height: 50px;
  position: relative;
  left: 275px;
  top: 150px;  
  font-size: 30px;
  border-radius: 30%;
  border: thin solid darkblue;
  background-color: whitesmoke;
  color: blue;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-left: 10px;
  font-family: monospace;
}

#green {
  width: 200px;
  height: 50px;
  position: relative;
  left: 375px;
  top: 150px;
  font-size: 30px;
  border-radius: 30%;
  border: thin solid darkgreen;
  background-color: whitesmoke;
  color: green;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-left: 10px;
  font-family: monospace;
}

#yellow {
  width: 200px;
  height: 50px;
  position: relative;
  left: 475px;
  top: 150px;
  font-size: 30px;
  border-radius: 30%;
  border: thin solid goldenrod;
  background-color: whitesmoke;
  color: darkgoldenrod;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-left: 10px;
  font-family: monospace;
}

#reset {
  width: 400px;
  height: 50px;
  position: relative;
  right: 275px;
  top: 300px;
  font-size: 30px;
  border-radius: 30%;
  border: thin solid black;
  background-color: whitesmoke;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  padding-left: 10px;
  font-family: monospace;
}